*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
  color: #9a8142;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center ;
 background: hwb(0 10% 87%);
padding: 10px;
}
.container{
  max-width: 700px;
  width: 100%;
 box-shadow: 0px 3px 10px 0px #865353;

 background: #8c5353;
background: linear-gradient(302deg, rgba(140, 83, 83, 1) 0%, rgba(87, 15, 17, 1) 0%, rgba(23, 3, 4, 1) 67%);
  padding: 25px 30px;
  border-radius: 5px;
  
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
}
.container form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3 ease;
  box-shadow: 0px 3px 10px 0px hsl(0, 23%, 66%);
}
.user-details .input-box.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color:rgb(128, 23, 23);
}
form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;

}
form .gender-details .category{
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
  
 
  
}
 .gender-details .category label{
display: flex;
align-items: center;
}
 .gender-details .category .dot-one,
 .gender-details .category .dot-two,
 .gender-details .category .dot-three{
  height: 10px;
  width: 10px;
  transition: all 0.3 ease;
  border-radius: 50%;
  margin-left :5px;
  border: 5px solid  ;
}
#dot-1:checked ~ .category label .dot-one,
#dot-2:checked ~ .category label .dot-two,
#dot-3:checked ~ .category label .dot-three{
  border-color: #d9d9d9 ;
  background: #9b599b;
}
form input[type="radio"]{
  display: none;
}
form .button{
  height: 45px;
  width: 100px;;
  margin : 45px 0;
}
form .button input{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  outline: none;
  color:rgb(128, 23, 23);
  background: #8d7e59;
  border: none;
  font-size: 15px;
  font-weight: 500;
  initial-letter: 1px;
  border-radius: 5px;
}
form .button input:hover{
  background: rgb(166, 126, 25) ;
}
@media (max-width: 584px){
  .container{
    max-width: 100%;
  }

}
